@charset "utf-8";
/* CSS Document */

/*
|--------------------------------------------------------------------------
| My Style - CODEDY
|--------------------------------------------------------------------------
|
| Đây là phần CSS tùy chỉnh viết thêm của cả nhóm
| Tất cả CSS trong file này sẽ ghi đè CSS những file khác
| Chú ý CSS trang nào thì ghi đúng phần trang đó theo mục lục sau
| Good luck! <3
|
*/

/******************************

[Table of Contents]

1. Home - Trang chủ + Form tìm kiếm
2. Booking/1 - Danh sách chuyến bay tìm được
3. Booking/2 - Thông tin hành khách
4. Booking/3 - Dịch vụ bổ sung
5. Booking/4 - Thanh toán
6. Ticket/index - Danh sách vé
7. Ticket/detail - Xem chi tiết vé
8. Ticket/edit - Sửa chi tiết vé
9. Schedule/index -  Tìm kiếm hành trình theo mã
10. Schedule/detail - Xem chi tiết hành trình
11. About
12. Contact
13. New

******************************/


/************
1. Home - Trang chủ + Form tìm kiếm:
************/


.search_flight .search_input_1 {
    width: 23%;
}

.search_flight .search_input_2 {
    width: 23%;
}

.search_flight .search_input_3 {
    width: 15%;
}

.search_flight .search_input_4 {
    width: 15%;
}

.search_flight .search_input_4 .dropdown #dropdownMenuButton {
    padding: 0;
    background: none;
    line-height: 50px;
    color: #72728c;
}

.search_flight .search_input_4 .dropdown #dropdownMenuButton:focus {
    box-shadow: none;
}

.search_flight .search_input_4 .dropdown .dropdown-toggle::after {
    margin-left: 2em;
    color: #72728c;
}

.search_flight .search_input_4 .dropdown .dropdown-menu {
    width: 220px;
    z-index: 10000000 !important;
    left: -17px !important;
    padding: 0;
}

.search_flight .search_input_4 .dropdown .dropdown-menu .dropdown-divider {
    margin: 0;
}

.search_flight .search_input_4 .dropdown .dropdown-menu .dropdown-item {
    height: 55px;
    line-height: 48px;
}

.search_flight .search_input_4 .dropdown .dropdown-menu .dropdown-item:active {
    background-color: snow;
}

.search_flight .search_input_4 .dropdown .dropdown-menu .dropdown-item label {
    color: #72728c;
}

.search_flight .search_input_4 .dropdown .dropdown-menu .dropdown-item input {
    width: 30px;
    height: 30px;
    padding-left: 11px;
    margin-right: 10px;
}

.search_flight .search_input_4 .dropdown .dropdown-menu .dropdown-item button {
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 50%;
    border: #72728c solid 1px;
    color: #72728c;
    background-color: transparent;
    font-size: 10px;
    cursor: pointer;
}

/************
2. Booking/1 - Danh sách chuyến bay tìm được:
************/


/************
3. Booking/2 - Thông tin hành khách:
************/


/************
4. Booking/3 - Dịch vụ bổ sung:
************/


/************
5. Booking/4 - Thanh toán:
************/


/************
6. Ticket/index - Danh sách vé:
************/


/************
7. Ticket/detail - Xem chi tiết vé:
************/


/************
8. Ticket/edit - Sửa chi tiết vé:
************/


/************
9. Schedule/index -  Tìm kiếm hành trình theo mã:
************/


/************
10. Schedule/detail - Xem chi tiết hành trình:
************/


/************
11. About
************/


/************
12. News
************/


/************
13. Contact
************/



