@charset "utf-8";
/* CSS Document */

/*
|--------------------------------------------------------------------------
| My Style - CODEDY
|--------------------------------------------------------------------------
|
| Đây là phần CSS tùy chỉnh viết thêm của cả nhóm
| Tất cả CSS trong file này sẽ ghi đè CSS những file khác
| Chú ý CSS trang nào thì ghi đúng phần trang đó theo mục lục sau
| Good luck! <3
|
*/

/******************************

[Table of Contents]

1. Home - Trang chủ + Form tìm kiếm
2. Booking/1 - Danh sách chuyến bay tìm được
3. Booking/2 - Thông tin hành khách
4. Booking/3 - Dịch vụ bổ sung
5. Booking/4 - Thanh toán
6. Ticket/index - Danh sách vé
7. Ticket/detail - Xem chi tiết vé
8. Ticket/edit - Sửa chi tiết vé
9. Schedule/index -  Tìm kiếm hành trình theo mã
10. Schedule/detail - Xem chi tiết hành trình
11. About
12. Contact
13. New
14. Register - Trang đăng kí tài khoản
******************************/


/************
1. Home - Trang chủ + Form tìm kiếm:
************/


.search_flight .search_input_1 {
    width: 23%;
}

.search_flight .search_input_2 {
    width: 23%;
}

.search_flight .search_input_3 {
    width: 15%;
}

.search_flight .search_input_4 {
    width: 15%;
}

.search_flight .search_input_4 .dropdown #dropdownMenuButton {
    padding: 0;
    background: none;
    line-height: 50px;
    color: #72728c;
}

.search_flight .search_input_4 .dropdown #dropdownMenuButton:focus {
    box-shadow: none;
}

.search_flight .search_input_4 .dropdown .dropdown-toggle::after {
    margin-left: 2em;
    color: #72728c;
}

.search_flight .search_input_4 .dropdown .dropdown-menu {
    width: 220px;
    z-index: 10000000 !important;
    left: -17px !important;
    padding: 0;
}

.search_flight .search_input_4 .dropdown .dropdown-menu .dropdown-divider {
    margin: 0;
}

.search_flight .search_input_4 .dropdown .dropdown-menu .dropdown-item {
    height: 55px;
    line-height: 48px;
}

.search_flight .search_input_4 .dropdown .dropdown-menu .dropdown-item:active {
    background-color: snow;
}

.search_flight .search_input_4 .dropdown .dropdown-menu .dropdown-item label {
    color: #72728c;
}

.search_flight .search_input_4 .dropdown .dropdown-menu .dropdown-item input {
    width: 30px;
    height: 30px;
    padding-left: 11px;
    margin-right: 10px;
}

.search_flight .search_input_4 .dropdown .dropdown-menu .dropdown-item button {
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 50%;
    border: #72728c solid 1px;
    color: #72728c;
    background-color: transparent;
    font-size: 10px;
    cursor: pointer;
}

/************
2. Booking/1 - Danh sách chuyến bay tìm được:
************/
.mainStep1 {
    background-color: #EDF3F7;
    padding: 50px;
    letter-spacing: 0.5px;
}
.mainStep1 .step1-progress .col-sm-3 p {
    color: #33597C;
    background-color: #ECE9E9;
    padding: 5px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.mainStep1 .step1-progress .active p{
    background-color: #33597C;
    color: white;
    padding: 5px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.mainStep1 .step1-progress .col-sm-3 p span {
    background-color: white;
    margin: -10px 10px 0 0;
}
.mainStep1 .locale-vi .media h5{
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    color: #33597C;
}
.mainStep1 .locale-vi .media .logo {
    width: 40px;
    height: 40px;
}
.mainStep1 .locale-vi .media h4{
    font-size: 22px;
    color: #33597C;
    font-weight: 300;
}
.mainStep1 .locale-vi .media h4 spam{
    font-family: 'Oswald', sans-serif;
    font-weight: bold
}
.mainStep1 .Active-date .col {
    background-color:#33597C;
    padding-left: 65px;
    padding-top:6px;
    height: 40px;
    color: white;
}
.mainStep1 .Active-date .col p {
    color: white;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.mainStep1 .title .col-3 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.mainStep1 .title .eco {
    color: #64AF53;
}
.mainStep1 .title .plus{
    color: #4EBDEC;
}
.mainStep1 .title .business{
    color: #33597C;
}
.mainStep1 .content-step1{
    padding: 10px;
    border: 0.5px solid #ECE9E9;
    box-shadow: 5px 10px 8px #dcdcdc;
    background-color: white;
}
.mainStep1 .content-step1 .date-fly{
    display: flex
}
.mainStep1 .content-step1 .date-fly  li .text-center{
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    color: #33597C;
    font-weight: bold
}
.mainStep1 .content-step1 .check {
    height: 150px;
    padding: 10px;
    color: white;
}
.mainStep1 .content-step1 .check span{
    font-size: 15px;font-family: 'Oswald', sans-serif;
    color: #FFF;font-weight: bold;
}
.mainStep1 .content-step1 .check p{
    font-size: 15px;font-family: 'Oswald', sans-serif;color: white;font-weight: 500;
}
.mainStep1 .content-step1 .eco {
    background-color: #64AF53;
}
.mainStep1 .content-step1 .plus{
    background-color: #4EBDEC;
}
.mainStep1 .content-step1 .business{
    background-color: #33597C;
}
.mainStep1 .cart-info img{
    width: 100%;
    height: 120px;
}
.mainStep1 .cart-info h4 {
    font-size: 20px;
    color: #33597C;
}
.mainStep1 .cart-info h4 span {
    font-family: 'Oswald', sans-serif;
    font-weight: bold !important;
}
.mainStep1 .cart-info p{
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}
.mainStep1 .cart-info .card-text {
    color:  #33597C;
    font-weight: 500;
}
.mainStep1 .cart-info .card-text-link{
    color: red;
    font-weight: 400;
}
.mainStep1 .card-Clearfix h5{
    font-size: 15px;
    color: #33597C;
    font-weight: 600;
}
.mainStep1 .card-Clearfix p{
    font-size: 10px;color: black;font-weight: 600;
}
.mainStep1 .cart-content h5 {
    font-size: 15px;
    color: #33597C;
    font-weight: 600;
}
.mainStep1 .cart-content h4{
    font-size: 10px;
    color: black;
    font-weight: 600;
}
.mainStep1 .cart-content p{
    font-size: 12px;color: black;font-weight: 600;
}
.mainStep1 .cart-content p span{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
.mainStep1 .contineu{
    background-color: #64AF53;
    font-size: 18px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
.mainStep1 .contineu:hover{
    color: #33597C;
}
.mainStep1 a i {
    font-size: 20px;
}
    /************
    3. Booking/2 - Thông tin hành khách:
    ************/
.booking2_who{
    margin-left: -90px;
    margin-top: -10px;
    font-family: 'Oswald', sans-serif;
}
.booking2_login{
    margin-left: -30px;
    font-family: 'Oswald', sans-serif;
    font-size: 120%;
}
.booking2_progress{
    color: #33597C;
    background-color: #ECE9E9;
    padding: 5px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.booking2_active{
    background-color: #33597C;
    color: white;
    padding: 5px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.booking2_button{
    background-color: #64AF53;
    font-size: 20px;
    color: white;
    font-weight: 600;
}
.title{
    color: white;
}
.bg-title{
    border:1px solid black;
    border-radius: 4px 4px 0px 0px;
    background-color: #33597C;
}
.content_promotion{
    font-size:80%;
    margin-top: 35px;
}
.note_information{
    font-size: 80%;
    margin-top: -25px;
}
.width_input_content{
    width: 14rem;
}
.width_input-group{
    width: 20rem;
}
.width_card{
    width: 45rem;
}
.width_card_w100{
    width: 18rem;
}
.size_checkbox{
    width: 18px;
    height: 18px;
}
.width_input_opption{
    width: 9rem;
}
.margin_content_notification{
    margin-top: -35px
}
.margin_top_container{
    margin-top: -25px;
}
.width_input_prepend{
    width: 20rem;
}
.size_icon{
    width: 50px;
    height: 50px;
}
.color_title_booking2{
    color: #33597C;
}
.booking2_font_family{
    font-family: 'Oswald', sans-serif;
}
.color-on{
    color: #B8B1B1;
}

/************
4. Booking/3 - Dịch vụ bổ sung:
************/
.section-header
{
    color: #00305B;
}

.color-blue
{
    color: #1b4b72;
}

.checkbox
{
    margin-top: 5rem;
    padding-left: 0.6rem;
}
.step1-progress .background_blue p
{
    background-color: #33597C;
    color: white;
    padding: 5px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.contents
{
    margin-top: 2rem;
}

/************
5. Booking/4 - Thanh toán:
************/
.mainStep1 .title-step4 h4 {
    color: #33597C;
    font-weight: 700;
    margin: 15px 0;
    font-size: 15px;font-family: 'Oswald', sans-serif;

}
.mainStep1 .fligh-step4  .card{
    border: 0.5px solid #ECE9E9;
    box-shadow: 5px 10px 8px #dcdcdc;
    background-color: white;

}
.mainStep1 .fligh-step4 .card-header {
    background-color: #33597C;
    color: white;
    height: 50px
}
.mainStep1 .fligh-step4 .card-header  .card-title img{
    width: 40px;
    height: 40px;
}
.mainStep1 .fligh-step4 .card-header  .card-title span {
    margin-top: 5px;
    font-family: 'Oswald', sans-serif;
}
.mainStep1 .fligh-step4 .card-body h4 {
    font-size: 20px;
    color: #33597C;
    font-weight: 600;
   font-family: 'Oswald', sans-serif;
}
.mainStep1 .fligh-step4 .card-body h5 {
    font-size: 17px;
    color: #33597C;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}
.mainStep1 .fligh-step4 .card-body p {
    font-size: 13px;
    color: black;
    font-family: 'Oswald', sans-serif;
}
.mainStep1 .customer-step4  .card .card-header {
    background-color: #33597C;
    color: white;
    height: 50px;
}
.mainStep1 .customer-step4 .card-header h5 {
    margin-top: 5px;
    font-family: 'Oswald', sans-serif;
}
.mainStep1 .customer-step4 {
    border: 0.5px solid #ECE9E9;
    box-shadow: 5px 10px 8px #dcdcdc;
    background-color: white;
}
.mainStep1 .customer-step4 .card-body h5 {
    font-size: 17px;
    color: #33597C;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}
.mainStep1 .customer-step4 .card-body h5 span {
    color: black;
}
.mainStep1 .solutionpayment {
    border: 0.5px solid #ECE9E9;
    box-shadow: 5px 10px 8px #dcdcdc;
    background-color: white;
}
.mainStep1 .solutionpayment .title .card-header{
    background-color: #33597C;
    color: white;
    height: 50px;
}
.mainStep1 .solutionpayment .title .card-header h5 {

    margin-top: 5px;
    font-family: 'Oswald', sans-serif;
}
.mainStep1 .solutionpayment .card-body .row  .title {
    font-size: 13px;
    color:  #33597C;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}
.mainStep1 .info-ticker .card .card-header {
    background-color: #33597C; color: white; height: 50px
}
.mainStep1 .info-ticker .card .card-header h5 {

    margin-top: 5px;
    font-family: 'Oswald', sans-serif;
}
.mainStep1 .info-ticker .container .card-body .card-title {
    font-size: 17px;
    color: #33597C;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}
.mainStep1 .info-ticker .container .card-body .card-text {
    font-size: 15px;
    color: black;
    font-family: 'Oswald', sans-serif;
}
.mainStep1 .info-ticker .container .card-body h4 {
    margin-top: 10px;
    font-size: 20px;
    color: #33597C;
}
.mainStep1 .info-ticker .card .check {
    background-color: #e2e2e3; color: #000000; height: 50px
}
.mainStep1 .info-ticker .card .check h5 {
    margin-top: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
}
.mainStep1 .info-ticker .card .check input {
    margin-right: 12px;
}
    /************
    6. Ticket/index - Danh sách vé:
    ************/

.page_ticket .search_input_1 {
    width: 26%;
}

.page_ticket .search_input_2 {
    width: 16%;
}

.page_ticket .search_input_3 {
    width: 16%;
}

.page_ticket .search_input_4 {
    width: 16%;
}

.ticket_list {
    background-color: #EDF3F7;
}

.page_ticket .table_title h4 {
    margin: 50px 0 30px 0;
    color: #33597C;
    font-weight: bold;
}

.page_ticket .home_slider_content_container
{
    top: 20%;
}
.ticket_list .row .table-info-tickets {
    margin-bottom: 100px;
    border: 0.5px solid #ECE9E9;
    box-shadow: 5px 10px 8px #dcdcdc;
    background-color: white;
    text-transform: uppercase;
}
.ticket_list .row  .table-top {
    background-color: #33597C;
    color: white;
}
.ticket_list .row .active tr{
    font-size: 15px;
}
.ticket_list .row .active tr:hover{
    background-color: #f8f9fa;
    color: #33597C;
}
/************
7. Ticket/detail - Xem chi tiết vé:
************/


/************
8. Ticket/edit - Sửa chi tiết vé:
************/


/************
9. Schedule/index -  Tìm kiếm hành trình theo mã:
************/
.schedule-index{
    background-color: #EDF3F7;
}
.schedule-index .container .row .title-flight h4{
    margin-top: 50px;
    color: #33597C;
    font-weight: bold;
    margin-bottom: 50px;
}
.schedule-index .table {
    margin-bottom: 100px;
    border: 0.5px solid #ECE9E9;
    box-shadow: 5px 10px 8px #dcdcdc;
    background-color: white;
    text-transform: uppercase;
}

.schedule-index .container .heade-table{
    background-color: #33597C;
    color: white;
}
.schedule-index .container .table .active tr:hover{
    background-color: #faf9f9;
    color: #33597C;
}

/************
10. Schedule/detail - Xem chi tiết hành trình:
************/


/************
11. About
************/


/************
12. News
************/


/************
13. Contact
************/


/************
14. Register
************/
.content_main
{
    margin-left: 15%;
}
#name
{
    width: 100%;
    height: 50px;
}

.name
{
    margin-left: 15px;
    margin-top: 10px;
    width: 125px;
    color: #1b4b72;
    font-size: 18px;
    font-weight: 700;
}

.gender
{
    margin-top: -30px;
    margin-bottom: 30px;
    margin-left: -237px;
}

.container .content_main .card
{
    /*width: 647px;*/
    /*height: auto;*/
    /*background-color: rgba(255, 255, 255, 0.68);*/
    /*position: absolute;*/
    /*transform: translate(-50%,-50%);*/

    width: 647px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.68);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding-top: 20px;

}

.content_main .card .input-group input
{
    width: 100%;
    height: 40px;
    border: 1px solid #CAC7C7;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.user
{
    position: relative;
    left: 70px;
    top: -40px;
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    margin-bottom: -3rem;
}

.pw
{
    position: relative;
    left: 70px;
    top: -40px;
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    margin-bottom: -3rem;
}

.firstlabel
{
    position: relative;
    left: 70px;
    top: -40px;
    line-height: 40px;
    width: 240px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    margin-bottom: -3rem;
}

.lastlabel
{
    position: relative;
    left: 70px;
    top: -40px;
    line-height: 40px;
    width: 240px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    margin-bottom: -3rem;
}
.email
{
    position: relative;
    left: 70px;
    top: -40px;
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    margin-bottom: -3rem;
}

.phone
{
    position: relative;
    left: 70px;
    top: -40px;
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    margin-bottom: -3rem;
}

.address
{
    position: relative;
    left: 70px;
    top: -40px;
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    margin-bottom: -3rem;
}

.date
{
    position: relative;
    left: 70px;
    top: -40px;
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    margin-bottom: -3rem;
}

.content_main .card .form-group button
{
    width: 150px;
    background-color: #77c23c;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
/************
15. Login
************/
#main{
    width: 600px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.68);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#main .login {
    padding: 40px;
}
#main .login .logo{
    display: flex;
}
#main .login .logo img{
    width: 60px;
    height: 60px;
    margin-right: 30px;
}
#main .login .logo h5 {
    font-size: 30px;
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
    color: #33597C;
}
#main .login .logo span{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: #33597C;
    font-weight: bold;
}
#main .login .title h4 {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    color: #33597C;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px
}
#main .login .login-body input{
    margin-top: 20px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid black;
    background: transparent;
    width: 100%;
    box-sizing: border-box;
}
::-webkit-input-placeholder {
    color: #33597C;
}
.login-body .submit-form button{
    width: 150px;
    background-color: #77c23c;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

#main .login .login-body .user
{
    margin-left: -91px;
}


