@charset "utf-8";
/* CSS Document */

/*
|--------------------------------------------------------------------------
| My Style - CODEDY
|--------------------------------------------------------------------------
|
| Đây là phần CSS tùy chỉnh viết thêm của cả nhóm
| Tất cả CSS trong file này sẽ ghi đè CSS những file khác
| Chú ý CSS trang nào thì ghi đúng phần trang đó theo mục lục sau
| Good luck! <3
|
*/

/******************************

[Table of Contents]

1. Home - Trang chủ + Form tìm kiếm
2. Booking/1 - Danh sách chuyến bay tìm được
3. Booking/2 - Thông tin hành khách
4. Booking/3 - Dịch vụ bổ sung
5. Booking/4 - Thanh toán
6. Ticket/index - Danh sách vé
7. Ticket/detail - Xem chi tiết vé
8. Ticket/edit - Sửa chi tiết vé
9. Schedule/index -  Tìm kiếm hành trình theo mã
10. Schedule/detail - Xem chi tiết hành trình
11. About
12. Contact
13. New

******************************/


/************
1. Home - Trang chủ + Form tìm kiếm:
************/


.search_flight .search_input_1 {
    width: 23%;
}

.search_flight .search_input_2 {
    width: 23%;
}

.search_flight .search_input_3 {
    width: 15%;
}

.search_flight .search_input_4 {
    width: 15%;
}

.search_flight .search_input_4 .dropdown #dropdownMenuButton {
    padding: 0;
    background: none;
    line-height: 50px;
    color: #72728c;
}

.search_flight .search_input_4 .dropdown #dropdownMenuButton:focus {
    box-shadow: none;
}

.search_flight .search_input_4 .dropdown .dropdown-toggle::after {
    margin-left: 2em;
    color: #72728c;
}

.search_flight .search_input_4 .dropdown .dropdown-menu {
    width: 220px;
    z-index: 10000000 !important;
    left: -17px !important;
    padding: 0;
}

.search_flight .search_input_4 .dropdown .dropdown-menu .dropdown-divider {
    margin: 0;
}

.search_flight .search_input_4 .dropdown .dropdown-menu .dropdown-item {
    height: 55px;
    line-height: 48px;
}

.search_flight .search_input_4 .dropdown .dropdown-menu .dropdown-item:active {
    background-color: snow;
}

.search_flight .search_input_4 .dropdown .dropdown-menu .dropdown-item label {
    color: #72728c;
}

.search_flight .search_input_4 .dropdown .dropdown-menu .dropdown-item input {
    width: 30px;
    height: 30px;
    padding-left: 11px;
    margin-right: 10px;
}

.search_flight .search_input_4 .dropdown .dropdown-menu .dropdown-item button {
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 50%;
    border: #72728c solid 1px;
    color: #72728c;
    background-color: transparent;
    font-size: 10px;
    cursor: pointer;
}

/************
2. Booking/1 - Danh sách chuyến bay tìm được:
************/
.mainStep1 {
    background-color: #EDF3F7;
    padding: 50px;
    letter-spacing: 0.5px;
}
.mainStep1 .step1-progress .col-sm-3 p {
    color: #33597C;
    background-color: #ECE9E9;
    padding: 5px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.mainStep1 .step1-progress .active p{
    background-color: #33597C;
    color: white;
    padding: 5px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.mainStep1 .step1-progress .col-sm-3 p span {
    background-color: white;
    margin: -10px 10px 0 0;
}
.mainStep1 .locale-vi .media h5{
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    color: #33597C;
}
.mainStep1 .locale-vi .media h4{
    font-size: 22px;
    color: #33597C;
    font-weight: 300;
}
.mainStep1 .locale-vi .media h4 spam{
    font-family: 'Oswald', sans-serif;
    font-weight: bold
}
.mainStep1 .Active-date .col {
    background-color:#33597C;
    padding-left: 65px;
    padding-top:6px;
    height: 40px;
    color: white;
}
.mainStep1 .Active-date .col p {
    color: white;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.mainStep1 .title .col-3 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.mainStep1 .title .eco {
    color: #64AF53;
}
.mainStep1 .title .plus{
    color: #4EBDEC;
}
.mainStep1 .title .business{
    color: #33597C;
}
.mainStep1 .content-step1{
    padding: 10px;
    border: 0.5px solid #ECE9E9;
    box-shadow: 5px 10px 8px #dcdcdc;
    background-color: white;
}
.mainStep1 .content-step1 .date-fly{
    display: flex
}
.mainStep1 .content-step1 .date-fly  li .text-center{
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    color: #33597C;
    font-weight: bold
}
.mainStep1 .content-step1 .check {
    height: 150px;
    padding: 10px;
    color: white;
}
.mainStep1 .content-step1 .check span{
    font-size: 15px;font-family: 'Oswald', sans-serif;color: #FFF;font-weight: bold;
}
.mainStep1 .content-step1 .check p{
    font-size: 15px;font-family: 'Oswald', sans-serif;color: white;font-weight: 500;
}
.mainStep1 .content-step1 .eco {
    background-color: #64AF53;
}
.mainStep1 .content-step1 .plus{
    background-color: #4EBDEC;
}
.mainStep1 .content-step1 .business{
    background-color: #33597C;
}
.mainStep1 .cart-info img{
    width: 100%;
    height: 120px;
}
.mainStep1 .cart-info h4 {
    font-size: 20px;
    color: #33597C;
}
.mainStep1 .cart-info h4 spam {
    font-family: 'Oswald', sans-serif;
    font-weight: bold !important;
}
.mainStep1 .cart-info p{
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}
.mainStep1 .cart-info .card-text {
    color:  #33597C;
    font-weight: 500;
}
.mainStep1 .cart-info .card-text-link{
    color: red;
    font-weight: 400;
}
.mainStep1 .card-Clearfix h5{
    font-size: 15px;
    color: #33597C;
    font-weight: 600;
}
.mainStep1 .card-Clearfix p{
    font-size: 10px;color: black;font-weight: 600;
}
.mainStep1 .cart-content h5 {
    font-size: 15px;
    color: #33597C;
    font-weight: 600;
}
.mainStep1 .cart-content h4{
    font-size: 10px;
    color: black;
    font-weight: 600;
}
.mainStep1 .cart-content p{
    font-size: 12px;color: black;font-weight: 600;
}
.mainStep1 .cart-content p span{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
.mainStep1 button{
    background-color: #64AF53;
    font-size: 20px;
    color: white;
    font-weight: 600;
}
    /************
    3. Booking/2 - Thông tin hành khách:
    ************/
.title{
    color: white;
}
.bg-title{
    border:1px solid black;
    border-radius: 4px 4px 0px 0px;
    background-color: #33597C;
}
.content_promotion{
    font-size:80%;
    margin-top: 35px;
}
.note_information{
    font-size: 80%;
    margin-top: -25px;
}
.width_input_content{
    width: 14rem;
}
.width_input-group{
    width: 20rem;
}
.width_card{
    width: 45rem;
}
.width_card_w100{
    width: 18rem;
}
.size_checkbox{
    width: 18px;
    height: 18px;
}
.width_input_opption{
    width: 10rem;
}
.margin_content_notification{
    margin-top: -35px
}
.margin_top_container{
    margin-top: -25px;
}
.width_input_prepend{
    width: 24rem;
}
.size_icon{
    width: 50px;
    height: 50px;
}
.color_title_booking2{
    color: #33597C;
}

/************
4. Booking/3 - Dịch vụ bổ sung:
************/
.section-header
{
    color: #00305B;
}

.color-blue
{
    color: #1b4b72;
}

.checkbox
{
    margin-top: 5rem;
    padding-left: 0.6rem;
}

.contents
{
    margin-top: 2rem;
}

/************
5. Booking/4 - Thanh toán:
************/
.mainPayment{
    background-color: #EDF3F7 !important;
}

.media img {
    width: 50px;
    height: 50px;
}
.media h5{
    margin-top:-5px ;
}
.media span {
    margin-top: 10px;
}

/************
6. Ticket/index - Danh sách vé:
************/

.page_ticket .search_input_1 {
    width: 26%;
}

.page_ticket .search_input_2 {
    width: 16%;
}

.page_ticket .search_input_3 {
    width: 16%;
}

.page_ticket .search_input_4 {
    width: 16%;
}

.ticket_list {
    margin: 50px 0;
}

.page_ticket .table_title h4 {
    height: 50px;
    line-height: 50px;
    background-color: #F2F5F6;
    color: #2e2e2e;
    padding-left: 35px;
    margin-bottom: 15px;
}

.page_ticket .home_slider_content_container
{
    top: 20%;
}

/************
7. Ticket/detail - Xem chi tiết vé:
************/


/************
8. Ticket/edit - Sửa chi tiết vé:
************/


/************
9. Schedule/index -  Tìm kiếm hành trình theo mã:
************/


/************
10. Schedule/detail - Xem chi tiết hành trình:
************/


/************
11. About
************/


/************
12. News
************/


/************
13. Contact
************/



